
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

.centered-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.over-lay {
  background-color: white;
  z-index: 1;
  box-shadow: rgb(136, 129, 129) 0 0 10px;
}

.to-do-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.to-do-list > li {
  border-bottom: 3px solid #f7f7f7;
  display: flex;
  justify-content: space-between;
}

.to-do-list > li:last-child {
  border-bottom: none;
}

#list-section {
  width: 350px;
}

#task-input {
  width: 100%;
  margin: 0;
  padding: 12px 0;
  border: 2px solid #f7f7f7;
  text-indent: 10px;
  font-style: italic;
  font-size: 1.3rem;
}

.list-heading {
  font-size: 1.3rem;
  padding: 10px 10px;
}

#list-section > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#clear-completed {
  width: 100%;
  padding: 7px 0;
  color: #7c7c7c;
  background-color: #f6f6f6;
  border: 3px solid #f7f7f7;
}

header > .icon {
  color: rgb(187, 186, 186);
  font-size: 10px;
}

.side-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.to-do {
  padding: 7px 10px;
  align-items: center;
}

.to-do input {
  margin-right: 10px;
}

.input {
  border: none;
  outline: none;
  border-style: none;
  resize: none;
  background-color: transparent;
  overflow: hidden;
  width: 280px;
  padding: 5px;
}

.edit-input {
  border: none;
  outline: none;
  background-color: bisque;
}

.edit-list-item {
  background-color: bisque;
}

.edit-div {
  display: flex;
}

.list-label {
  display: flex;
}

li .icon {
  color: rgb(177, 177, 177);
  font-size: 15px;
}

.select {
  background-color: #e0dfac;
}

.unselected {
  background-color: transparent;
}

.to-do .icon {
  cursor: move;
}
